<?xml version="1.0"?>
<config>
    <modules>
        <ISM_DeliveryAt>
            <version>0.1.0</version>
        </ISM_DeliveryAt>
    </modules>
    <frontend>
        <routers>
            <deliveryat>
                <use>standard</use>
                <args>
                    <module>ISM_DeliveryAt</module>
                    <frontName>deliveryat</frontName>
                </args>
            </deliveryat>
        </routers>
        <layout>
            <updates>
                <deliveryat>
                    <file>deliveryat.xml</file>
                </deliveryat>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <deliveryat>
                <use>admin</use>
                <args>
                    <module>ISM_DeliveryAt</module>
                    <frontName>deliveryat</frontName>
                </args>
            </deliveryat>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <deliveryat>
                    <file>deliveryat.xml</file>
                </deliveryat>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <deliveryat>
                <class>ISM_DeliveryAt_Helper</class>
            </deliveryat>
        </helpers>
        <blocks>
            <deliveryat>
                <class>ISM_DeliveryAt_Block</class>
            </deliveryat>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <order>ISM_DeliveryAt_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <checkout>
                <rewrite>
                    <type_onepage>ISM_DeliveryAt_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <deliveryat>
                <class>ISM_DeliveryAt_Model</class>
                <resourceModel>deliveryat_mysql4</resourceModel>
            </deliveryat>
            <deliveryat_mysql4>
                <class>ISM_DeliveryAt_Model_Mysql4</class>
                <entities>		  
                    <quote_custom>
                        <table>sales_quote_custom</table>
                    </quote_custom>
                    <order_custom>
                        <table>sales_order_custom</table>
                    </order_custom>
                </entities>
            </deliveryat_mysql4>
        </models>
	<resources>
            <deliveryat_setup>
		<setup>
		    <module>ISM_DeliveryAt</module>
		</setup>
		<connection>
		    <use>core_setup</use>
		</connection>
	    </deliveryat_setup>
	    <deliveryat_write>
		<connection>
		    <use>core_write</use>
		</connection>
            </deliveryat_write>
            <deliveryat_read>
                <connection>
		    <use>core_read</use>
		</connection>
	    </deliveryat_read>
	</resources>
    <events>
        <sales_quote_save_before>
            <observers>
                <save_before>
                    <type>singleton</type>
                    <class>ISM_DeliveryAt_Model_Observer</class>
                    <method>saveQuoteBefore</method>
                </save_before>
            </observers>
        </sales_quote_save_before>
        <sales_quote_save_after>
            <observers>
                <save_after>
                    <type>singleton</type>
                    <class>ISM_DeliveryAt_Model_Observer</class>
                    <method>saveQuoteAfter</method>
                </save_after>
            </observers>
        </sales_quote_save_after>
        <sales_quote_load_after>
            <observers>
                <load_after>
                    <type>singleton</type>
                    <class>ISM_DeliveryAt_Model_Observer</class>
                    <method>loadQuoteAfter</method>
                 </load_after>
             </observers>
        </sales_quote_load_after>
        <sales_model_service_quote_submit_after>
            <observers>
                 <sales_model_service_quote_submit_after>
                    <type>singleton</type>
                    <class>ISM_DeliveryAt_Model_Observer</class>
                    <method>saveOrderAfter</method>
                 </sales_model_service_quote_submit_after>
             </observers>
        </sales_model_service_quote_submit_after>
        <sales_order_load_after>
            <observers>
                 <sales_order_load_after>
                    <type>singleton</type>
                    <class>ISM_DeliveryAt_Model_Observer</class>
                    <method>loadOrderAfter</method>
                 </sales_order_load_after>
             </observers>
        </sales_order_load_after>
    </events>
    </global>
</config>